<%- include('layout') %>
<div class="max-w-4xl mx-auto my-8 flex justify-between items-center">
    <h1 class="text-3xl font-bold text-gray-800">Blog Posts</h1>
    <% if (currentUser) { %>
    <a href="/create" class="bg-gray-700 hover:bg-gray-900 text-white font-semibold py-2 px-6 rounded-full shadow-lg transition duration-300 ease-in-out transform hover:scale-105">+ New Post</a>
    <% } %>
</div>

<% if (posts.length === 0) { %>
    <div class="max-w-4xl mx-auto p-6 bg-white shadow-md rounded-lg text-center">
        <h3 class="text-2xl font-semibold mb-2">No Posts Yet :(</h3>
        <p class="text-gray-600">Stay tuned for more blogs..</p>
    </div>
<% } else { %>
    <div class="max-w-4xl mx-auto grid grid-cols-1 gap-6">
        <% posts.forEach((post, index) => { %>
            <div class=" flex flex-col p-6 bg-white shadow-md rounded-lg">
                <h2 class="text-2xl font-semibold mb-2"><%= post.title %></h2>
                <p class="text-gray-500 mb-4 max-h-96">
                    Category: <%= post.category %><br>
                    Author: <%= post.creator_name %><br>
                    Date Posted: <%= post.date_created %><br>
                </p>
                <p class="text-gray-700 mb-4"><%= post.body %></p>
                <div class="flex justify-end space-x-4 background">
                    <a href="/edit/<%= post.blog_id %>" class="bg-gray-700 hover:bg-gray-900 text-white font-semibold py-2 px-6 rounded-full shadow-lg transition duration-300 ease-in-out transform hover:scale-105 text-center">Edit</a>
                    <form action="/delete/<%= post.blog_id %>" method="POST" class="flex-1">
                        <button type="submit" class=" bg-red-500 hover:bg-red-700 text-white font-semibold py-2 px-6 rounded-full shadow-lg transition duration-300 ease-in-out transform hover:scale-105">Delete</button>
                    </form>
                </div>
            </div>
        <% }) %>
    </div>
<% } %>

<footer class="max-w-4xl md:w-4/5 mx-auto flex items-center justify-between p-6 bg-white text-gray-800 shadow-lg rounded-lg mt-6 mb-6">
    <div class="flex-grow text-center">
        <p class="text-sm">&copy; <%= new Date().getFullYear() %> Blog App. All rights reserved.</p>
    </div>
</footer>
